
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
    background-color: #30b868;
    color: white;
    padding: 12px 24px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight:bold;
}
nav{
    width: 71%;
    max-width: 1140px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none; 
    gap:51px;
    align-items: center;

}
nav .menu a{
    font-size: 20px;
    color: #000000;
    text-decoration: none;
}