

.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav{
    width: 71%;
    max-width: 1140px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none; 
    gap:51px;
    align-items: center;

}
nav .menu a{
    font-size: 20px;
    color: #000000;
    text-decoration: none;
}
.btn{
    background-color: #30b868;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight:bold;
}

#banner .btn3
{
   border-radius: 4px;
   background: none;
   border: 2px solid white;
   font-weight: 50;
   cursor: pointer;
   color: white;
   padding:10px ;
}
#banner .btn2{
   border-radius: 75px;
   color: #30b868; 
   padding: 10px 20px;
   justify-content: center;
   text-align: center;
   background-color: white;
   margin-bottom: 5;
}
#banner{

    display: flex;
    align-items: center;
    justify-content: center;
    
}
#banner .banner-image{
position:relative;
width:100%;
height:674px;
display:flex;
justify-content:center;
align-items:center;
}

#banner .banner-image img{
width:100%;
height:100%;
object-fit:cover;
}

.banner-content{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%, -50%);
width:100%;
max-width:600px;
text-align:center;
font-style: Bold;
font-size: 72px;
font-weight: 700;
line-height: 84px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
}

.hero-buttons{
display:flex;
justify-content:center;
gap:18px;
margin-top:20px;
}



#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
    
}
#banner .banner-content .h11{
    font-size: 85px;
    font-weight: bold;
    color: #30b868;
    margin-bottom: 20px;
}

#banner .banner-content p{
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align:center;;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-image{
    max-width: 1600px;
    height: 674px;
}

.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}
.section-heading h2{
    font-size: 42px;
    font-weight: bold;
}
.section-heading p{
    font-size: 16px;
    margin-bottom: 30px;
    line-height:30px ;
    color: #627362;
}
.note-box{
    display: flex;
    justify-content: center;
}
.notes-card{
    text-align: center;
    margin: 0 auto;
    gap: 24px;
   background-color: #FFFFFF;

}
.notes-card h3{
    font-size: 24px;
    margin-bottom: 20px;
   
}
.notes-card p{
    color:#627382 ;
    font-size: 16px;
}
.note-box img{
    background-color: #F95555;
    border-radius:100%;
    padding: 20px;
}
.solution{
    display: flex;
    padding-bottom: 50px;
}
.solution img{
    max-width: 50%;
    height: auto;
}
.solution p{
    color: #30b868;
    font-size: 16px;

}
.solution h2{
    font-size: 48px;
    color: #001931;
}
.solution .pp{
    color: #627382;
    font-size: 16px;
}
.solution-text{
    margin: 50px;
}
.checkpoint{
    margin-top: 50px;
}
.checkpoint .textt{
    font-size: medium;
    color: #000000;
}
#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #F7F6F2;
    padding: 40px 80px;
    gap: 24px;
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 50px;
}
#about{
    margin: 50px;
}
.main-footer{
    background-color: #001931;
    color: white;
    padding: 40px 0 20px 0;
    font-size: 16px;
}
.social-links{
    text-align: center;
    padding: 10px;

}
.footer-bottom{
    text-align: center;

}
hr{
    color: #000000;
}
.icons a{
    background-color: white;
    border-radius: 100%;
}
